<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/Home/Home"><img class="img-responsive" width="100" height="80" src="~/img/centralperk.png"/></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Início", "Home", "Home", new {@class = "navBarAction"})</li>
                    <li class="dropdown">
                        <a class="navbar-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Funcionário <span class="fas fa-chevron-down"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="dropdown-divider">
                                <a class="dropdown-item">  @Html.ActionLink("Cadastro", "cadFunc", "Funcionario", null, new { @class = "dropdownLink" })</a>
                            </div>
                            <div class="dropdown-divider">
                                <a class="dropdown-item"> @Html.ActionLink("Consulta", "consultaFunc", "Funcionario", null, new { @class = "dropdownLink" })</a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="navbar-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cliente <span class="fas fa-chevron-down"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="dropdown-divider">
                                <a class="dropdown-item"> @Html.ActionLink("Cadastro", "cadCliente", "Cliente", null, new { @class = "dropdownLink" })</a>
                            </div>
                            <div class="dropdown-divider">
                                <a class="dropdown-item"> @Html.ActionLink("Consulta", "consultaCliente", "Cliente", null, new { @class = "dropdownLink" })</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="~/Venda/Pedidos" title="Ir para o carrinho" id="header-cart">
                            @if (Session["qtdCarrinho"] != null)
                            {
                                <div class="header-bullet" id="circulo">@Session["qtdCarrinho"].ToString()</div>
                            }

                            else
                            {
                                <div class="header-bullet" id="circulo">0</div>
                            }
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
